<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VerVis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to VerVis</h1>
        <p>Communication, Unbound!</p>

        <div class="btn-group">
            <a href="{{ url_for('login') }}" class="btn">Login</a>
            <a href="{{ url_for('signup') }}" class="btn">Sign Up</a>
        </div>
    </div>
</body>
</html>
